### Create an empty list called numbers. Append the numbers 1, 2, and 3 to the list.
* Modify the element at index 1 to be 4.
* Print the updated list.

In [1]:
ls=[]
type(ls)
for i in range(1,4):
    ls.append(i)
ls.remove(2)
ls.insert(1,4)
ls

[1, 4, 3]

### Create a list called fruits with elements 'apple', 'banana', 'orange', 'mango', and 'kiwi'.
* Create a new list by slicing fruits to include only the citrus fruits ('orange' and 'mango"). * Create a new list called tropical by slicing fruits to include only the tropical fruits ('banana" and "kiwi').
* Concatenate citrus and tropical lists to create a new list called combined. Print combined.

In [2]:
fruits=['apple', 'banana', 'orange', 'mango','kiwi']
citrus=fruits[2:4:1]
tropical_fruits=fruits[1:5:3]
combined=citrus+tropical_fruits
print(combined)

['orange', 'mango', 'banana', 'kiwi']

### Create a list called colors with repeated elements 'red', 'blue', 'red', 'green', 'red'. 
* Print the number of occurrences of 'red' in the list.
* Remove all occurrences of 'red' from the list. Print the updated list.

In [3]:
colors=[ 'red', 'blue', 'red', 'green', 'red']
colors.count('red')
while colors.count('red')>0:
     colors.remove('red')
print(colors)

['blue', 'green']

### Create a list called groceries with initial items: 'bread', 'milk', 'eggs', 'butter'. Print the final list of groceries.
* Add 'cheese' to the end of the list.
*  Remove 'milk' from the list.
* Insert 'yogurt' at index 1.

In [4]:
groceries=['bread', 'milk', 'eggs', 'butter']
print(groceries)
groceries.append('cheese')
print(groceries)
groceries.remove('milk')
print(groceries)
groceries.insert(1,'yogurt')
print(groceries)

['bread', 'milk', 'eggs', 'butter']
['bread', 'milk', 'eggs', 'butter', 'cheese']
['bread', 'eggs', 'butter', 'cheese']
['bread', 'yogurt', 'eggs', 'butter', 'cheese']

### Write a program to add item 7000 after 6000 in the following Python List:
* list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [5]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### Now that you have a nested list from the above output. 
Write a program to extend it by adding a sublist ["h", "i", "j"] in such a way that output will look like the following list below.
* Expected Output :  [10, 20, [300, 400, [5000, 6000, 7000,"h", "i", "j"], 500], 30, 40]

In [6]:
list1[2][2].extend(["h", "i", "j"])
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000, 'h', 'i', 'j'], 500], 30, 40]

### You have given a Python list below. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of the item.
* list1 = [5, 10, 15, 20, 25, 50, 20]

In [7]:
list2 = [5, 10, 15, 20, 25, 50, 20]
if list2.count(20)>=1:
    print(list2.index(20))
    ind=list2.index(20)
    list2[ind]=200
print(list2)

3
[5, 10, 15, 200, 25, 50, 20]

## Tuples:

#### Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [8]:
favorite_fruits=('pineapple','Sapodilla','cherry')
for fruit in favorite_fruits:
    print(fruit)

pineapple
Sapodilla
cherry

#### Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [9]:
favorite_veggies=('ladiesfinger','potato')
favorites=favorite_fruits+favorite_veggies
len(favorites)

5

### Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum value from the set.

In [10]:
tip=(4,5,78,45,21,53,848,45,55)
set(tip)
print(f"MAXIMUM:{max(tip)}",'\n',f"MINIMUM :{min(tip)}")

MAXIMUM:848
 MINIMUM :4

### Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

### Tuple
* Tuple: tuple is a collection datatype which means it can store  multiple datas's
* In python when we initalize a tuple we cannot change the length(size),cannot add additional data,remove data.that's the reason it is called immutable data type. 
* it is because in python when we in initalize a tuple and assign a data to it. it creates an object which stores the data in the memory and it gets hashed.

### Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [11]:
tupp=(0,1,2,3,4,5,6,7,8,9)
tupp[3:7]

(3, 4, 5, 6)

### Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements

In [12]:
friend_favorite_movies=('bahuballi','salaar','doctor strange','death note')
coversion_set=set(friend_favorite_movies)
my_favorite_movies={'salaar','robo','one piece','one punch man','death note'}
my_favorite_movies.intersection(coversion_set)

{'death note', 'salaar'}

### tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [13]:
tup_1=(1,2,3,2,4,5,3,4,2)
counter=0
# for i in range(0,len(tup_1)):
#     if tup_1[i]==2:
#         counter+=1
# print(counter)
print(tup_1.count(2))

3

### Access value 20 from the tuple, 
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [14]:
tuple2 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple2[1].index(20))
print(tuple2[1][1])

1
20

### Create a dictionary with key-value pairs for a person's name and age.
Add a new key-value pair "city" with the value "Delhi" to the person dictionary.
Remove the key-value pair with the key "age" from the person dictionary.
Sort the person's dictionary by its keys.

In [15]:
dictionary={ "name": ["tillu", "billu"],"age": [56, 65]}
dictionary["city"]="Delhi" 
dictionary.pop("age")
print(dict(sorted(dictionary.items())))

{'city': 'Delhi', 'name': ['tillu', 'billu']}